* {
    margin: 0;
    padding: 0;
}

#control {
    margin: 20px 10px;   
}

table {
    margin: 30px 10px;
}

table, th, td {
    border: 1px solid black;
}

button {
    width: 25px;
    height: 25px;
}

th, td {
    width: 50px;
    height: 25px;
}